{% extends "bases.html.twig" %}


{% block main %}

	{% for article in articles %}
		<h1>
			<a href="{{ path('article_show', {'id' : article.id}) }}">{{article.titre}}</a>
		</h1>
	{% endfor %}

{% endblock %}
