<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		{% block stylesheets %}{% endblock %}
	</head>
	<body>

		<main>
			{% block main %}
				<h1>Bonjour</h1>
			{% endblock %}
			{# on crée un block dans un fichier twig pour indiquer que lorsque l'on appelle ce block on le remplit par du code #}
		</main>

	</body>
</html>

{# Exercice : modifier tous les fichiers twig en retirant
le contenu qui se repète et en remplissant avec des blocs #}
