{% extends "bases.html.twig" %}
{# Commentaire twig #}
{# {{...}} permet de faire des appels de variables ou de fonctions twig #}
	{% block main %}

		<h1>
	{{ variable }}
	</h1>
		<h2>
	{{ variable2 }}
	</h2>
		<h3>
	{{ variable3}}
</h3>{% endblock %}
