{% extends "bases.html.twig" %}

{% block main %}
	<h1>Titre : View</h1>
	<h2>Sous-titre : view twig</h2>
	<p>Lorem ipsum dolor, 
																										        sit amet consectetur adipisicing elit. 
																										        Veritatis accusamus praesentium possimus mollitia aspernatur officia eveniet modi?
																										         Quaerat, explicabo ea nihil ex suscipit alias exercitationem dolor dignissimos
																										          atque sint minima!</p>

	<table>
		<thead>
			<tr>
				<th>Lettre</th>
				<th>Chiffre</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>A</td>
				<td>1</td>
			</tr>
			<tr>
				<td>B</td>
				<td>2</td>
			</tr>
			<tr>
				<td>C</td>
				<td>3</td>
			</tr>
		</tbody>
	</table>

	<img src="https://symfony.com/images/opengraph/symfony.png" alt="">
{% endblock %}
